.about{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.about-bg{
    position: absolute;
    height: 100vh;
    z-index: -10;
    top: 0;
    left: -120px;
}
.about-img{
    width: 600px;
}
.about-img > img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(-10px 8px 10px rgba(0,0,0,0.6));
}
.about-info{
    width: 766px;
}
.about-info > h5{
    font-size: 20px;
    color: #f4980d;
}
.about-info > p{
    font-size: 20px;
    color: #4c4c4c;
    opacity: 0.7;
    margin-bottom: 20px;
}
.about-info > h1{
    margin-bottom: 30px;
    font-size: 56px;
    color: #4c4c4c;
}
.about-btn{
    display: flex;
    align-items: center;
    gap: 40px;
}
.about-btn > button{
    height: auto;
    padding: 12px;
    font-size: 16px;
}
.about-vid{
    display: flex;
    text-decoration: none;
    color: #333;
    gap: 8px;
    align-items: center;
}
.vid-icon{
    width: 35px;
    height: 35px;
}
.about-vid > p {
    font-size: 16px;
    font-weight: 600;

}


/* <============= Media Query =======================> */
@media screen and (max-width: 1024px) {
   .about-img{
    display: none;
   }
   .about-info > h5{
    filter: drop-shadow(0 0 2px #fff) drop-shadow(-1 -1 2px #fff);
   }
   .about-info > h1{
    font-size: 48px;
}
.about-info > p{
    font-size: 16px;
}
   .about-btn > button{
    border: 1px solid #fff;
   }
}