.work{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.work-info{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.work-info > h5{
    font-size: 20px;
    color: #F4980D;
}
.work-info > h1{
    font-size: 56px;
    color: #333;
}
.work-info > p{
    font-size: 16px;
    color: #333;
    opacity: 0.7;
    text-align: center;
}

.work-cards{
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.card{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.card img{
    width: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card h1{
    font-size: 22px;
    color: #333;
    margin-bottom: 8px;
}
.card p{
    font-size: 14px;
    color: #333;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 15px;
}
.card:hover{
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.1);
}


/* <============= Media Query =======================> */
@media screen and (max-width: 1024px) {
    .work-wrapper{
        gap: 20px;
    }
    .work-info{
        width: 100%;
        margin: 20px;
        align-items: flex-start;
    }
    .work-info h1{
        font-size: 48px;
    }
    .work-info > p{
        font-size: 16px;
        color: #333;
        opacity: 0.7;
        text-align: left;
    }
    .work-cards{
        width: 100%;
        margin: 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}